/********** 2nd-LEVEL NAVBAR (1st block: Synced Block > Callout) **********
  Note: The first block should be a <Callout> inside a <Synced Block>
  /*remove residual top page margin*/ 
  .notion-page-content > div:nth-child(1) { /*(.css-937kam)*/
    margin: 0px!important;
  }
  /*color + position*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block {
    position: fixed;
    margin: 0px;
    top: 45px;
    left: 0px;
    max-width: 100vw!important;
    border-radius: 0px!important;
    border: 0px!important;
    z-index: 1;
    background-color: rgba(21, 21, 18, 0.6) !important;
    webkit-backdrop-filter: blur(15px)!important;
    -webkit-backdrop-filter: blur(15px)!important;
    backdrop-filter: blur(15px)!important;
    -moz-backdrop-filter: blur(15px)!important;
    color: white!important;
  }
  /*navbar container*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block > div > div {
    padding: 16px 16px!important;
    background-color: rgb(0,0,0,0)!important;
  }
  /*navbar inside-content container*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block > div > div > div:nth-child(2) {
    margin-left: 3px!important;/*<navbar content> adjustment for logo alignment to top-navbar*/
    flex-direction: row;
    overflow: visible;
  }
  /*hide callout block title*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block > div > div > div:nth-child(2) > div:nth-child(1) {
    display: none!important; 
  }
  /*logo image (.notion-image-block)*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block img {
    border-radius: 0px!important;}/*(IMG)remove round corners from logo*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block > div > div > div:nth-child(2) .notion-image-block {
    align-self: center;
    margin: 0 auto 0 0!important;
  }
  /*text items (.notion-text-block)*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block > div > div > div:nth-child(2) .notion-text-block:not(:first-child) {
  	margin-left: 20px!important; }/*all not-first-child items*/
  .notion-page-content > div:nth-child(1) > .notion-callout-block > div > div > div:nth-child(2) .notion-text-block {
    max-width: auto!important;
    width: auto!important;
    margin: auto 0px!important;
  }

/********** FULL-PAGE HERO BANNER (2nd block: Synced Block > Callout(2)] **********
  Note: The 2nd block should be 2 <Callouts> inside a <Synced Block>
  FOR PAGES ONLY (NOT FOR DATABASE-ENTRY PAGES)*/
  /*full-page image container (1st Callout)*/
  .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(1) {
    position: absolute;
    border: 0px!important;
    border-radius: 0px!important;
    top: 0px;
    left: 0px;
    min-height: 700px;
    height: 100vh;
    width: 100vw;
    max-width: 100vw!important;
    margin: 0px!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    z-index: -1;
  }
  .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(1) > div {
  	display: none!important;/*remove not needed div*/
  }
  /*text-content container (2nd Callout)*/
  .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(2) > div > div {
    background-color: rgb(0,0,0,0)!important;
    text-align: center;
    max-width: 900px;
  }
  .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(2) .notion-image-block {
      margin: 0 auto;/*text-content image*/
  }
  .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(2) {
    height: calc(100vh - 1px);
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding-top: 100px!important;
    overflow: hidden;
    margin: 0px!important;
  }
  .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(2) span[style*="rgb(155, 154, 151)"] {
  	color: white!important;
  }
  @media only screen and (max-height: 500px) {
    .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(2) {
      font-size: 0.8rem!important; }
    .notion-page-content > div:nth-child(2).notion-transclusion_container-block > .notion-callout-block:nth-child(2) img {
      display:none; 
    }
  }

/********** SPECIAL GALLERY (Mod) **********
  Note: Special gallery should be inside a SYNCED BLOCK and 
  only have 1 visible property: URL REDIRECT*/
  .notion-transclusion_container-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div > div > a,
  .notion-transclusion_reference-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div > div > a {
    width: 100%!important;/*featured redirect*/
    height: 100%!important;
  }
  /*hide gallery tab/title*/.notion-transclusion_container-block > .notion-collection_view-block > div:first-child,
  /*hide property*/.notion-transclusion_container-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div > div > a > div,
  /*hide gallery tab/title*/.notion-transclusion_reference-block > .notion-collection_view-block > div:first-child,
  /*hide property*/.notion-transclusion_reference-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div > div > a > div {
    display: none!important;
  }
  /*adjust box-height*/
  .notion-transclusion_container-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:first-child .css-9a9znp,
  .notion-transclusion_reference-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:first-child .css-9a9znp {
    padding-top: 200px; }
  .notion-transclusion_container-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2),/*Title*/
  .notion-transclusion_container-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(3),/*Tag/date*/
  .notion-transclusion_reference-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2),/*Title*/
  .notion-transclusion_reference-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(3)/*Tag/date*/ {
    height: 200px;
    top: -200px;
    margin-bottom: -200px!important;
   }
  /*remove gradient overlay*/
  .notion-transclusion_container-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2),
  .notion-transclusion_reference-block .notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) {
    background: rgb(0,0,0,0);
  }

/********** HERO GALLERY (Mod) **********
  Note: Hero Gallery should be the 1st/2nd element with only one displayed item*/ 
  /*Hero title font*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div { 
    font-size: 1.8rem!important;
    font-weight: 500!important;
    line-height: 2.2rem!important;
    text-align: center;
  }
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div:before,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div:before {
    content: "FEATURED CONTENT";/*add hammer*/
    font-size: 0.7rem;
    letter-spacing: 2px;
    display: block;
  }
  /*remove round corner*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a,
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:first-child > div > div,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:first-child > div > div {
    border-radius: 0px!important;
  }
  /*hero height*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:first-child > div > div,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:first-child > div > div {
  	padding-top: 100vh; }
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2),
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(3),
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2),
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(3) {
    height: 100vh;
    top: -100vh;
    margin-bottom: -100vh!important;
    border-radius: 0px!important;
  }
  /*gradient overlay*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2),
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) {
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%);
  }
  /*remove extra top margin*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block,
  .notion-page-content > div:nth-child(2).notion-collection_view-block {
  margin-top: 0px!important;
  }
  /* hide gallery view buttons*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block > div:first-child,
  .notion-page-content > div:nth-child(2).notion-collection_view-block > div:first-child {
    display: none!important;
  }
  /*adjust container margins outside boundary*/
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-collection_view-block > div > div,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-collection_view-block > div > div {
    /*image box*/
    display: block!important;
    width: 100vw!important;
    padding-top: 0px!important;
    margin-left: calc(-96px + env(safe-area-inset-left))!important;/*outside boundary*/
  }
  .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div,
  .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div {
    /*title box*/
    height: auto!important;
    margin-bottom: auto!important;
    margin-top: auto!important;
    padding-top: 70px!important;
    padding-bottom: 0px!important;
    padding-left: calc(120px + env(safe-area-inset-left))!important;/*outside boundary*/
    padding-right: calc(120px + env(safe-area-inset-left))!important;/*outside boundary*/
  }
  @media only screen and (max-width: 480px) {
    /*image box on mobile view*/
    .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-collection_view-block > div > div,
    .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-collection_view-block > div > div {
      margin-left: calc(-24px + env(safe-area-inset-left))!important;
    }
    /*title box on mobile view*/
    .notion-page-content > div:nth-child(1).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div,
    .notion-page-content > div:nth-child(2).notion-collection_view-block .notion-gallery-view .notion-page-block > a > div > div:nth-child(2) > div {
      padding-left: calc(24px + env(safe-area-inset-left))!important;
      padding-right: calc(24px + env(safe-area-inset-left))!important;
    }
  }

/********** CENTER-ALIGNED HEADER TEXT **********
  Note: H1,H2,H3 with the whole block having Gray Background-color will be centered*/
  .notion-sub_sub_header-block > div[style="background-color: rgb(241, 241, 239);"],
  .notion-sub_header-block > div[style="background-color: rgb(241, 241, 239);"],
	.notion-header-block > div[style="background-color: rgb(241, 241, 239);"] {
    background-color: transparent!important;
    text-align: center;
  }
